*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#08001f,#30197d);
    color: #fff;
    position: relative;
}
.container{
    width: 880px;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding-bottom: 10px;
}
.clock{
    width:100%;
    height: 100%;
    background: rgba(235,0,255,0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter:blur(40px);
    padding-bottom: 10px;
}
.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SECS';
}
.timer-display{
    width:100%;
    height: 100%;
    font-size: 80px;
    background: rgba(8, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter:blur(40px);
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;    
}
#start_timer{
    background: rgba(235,0,255,0.11);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#stop_timer{
    background: rgba(8, 0, 255, 0.11);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#reset_timer{
    background: rgba(235,0,255,0.11);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}